* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f4676;
}

.ifr-principal {
  width: 100%;
  height: 90vh;
  position: relative;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 90vh;
  padding: 35px;
}

.nav-bar img {
  margin: 35px auto;
  width: 100%;
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, .5));
}

.nav-bar .menu {
  width: 100%;
  height: 50%;
  border-radius: 25px;
  box-shadow: -2px -2px 10px 5px rgba(0, 0, 0, .3);
  border: 3px solid rgba(255, 255, 255, .5);
}

footer {
  background-color: #2f4676;
  width: 100%;
  height: 9.3vh;
  padding: 20px;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  letter-spacing: .7em;
}

footer a {
  text-decoration: none;
  color: #e95ad6;
}

footer a:hover {
  text-decoration: underline;
}

/* MENU  */

.nav-menu {
  width: 100%;
  height: 100vh;
  background-color: #843579;
}

.items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 28%;
}

.items li {
  list-style: none;
}

.items li a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
}

.items li a:hover {
  border-bottom: 2px solid white;
}

.items .icon-item {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('https://icongr.am/fontawesome/caret-right.svg?size=128&color=ffffff');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

/* HOME */

.home {
  width: 100%;
  height: 100vh;
  background-image: url('../images/home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ABOUT */

main {
  width: 100%;
  height: 100vh;
  background-color: #40729e;
  color: white;
  padding-right: 35px;
  text-align: center
}

.container {
  width: 550px;
  float: right;
  transform: translateY(50%);
  margin-top: -100px;
}

h1,
p {
  margin-bottom: 25px;
  line-height: 1.8em;
  letter-spacing: .15em;
}

.about img {
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, .5));
}

/* TOURS */

.container-slider {
  border: 1px solid black;
  width: 400px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  margin: 25px auto;
}

.slider {
  height: 100%;
  margin-left: -100%;
  display: flex;
}

.items-slider {
  position: relative;
}

.items-slider img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  margin-left: -1px;
}

.items-slider h3 {
  height: 25px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.container-slider span {
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 50%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.container-slider span:hover {
  background-color: black;
  cursor: pointer;
}

.container-slider .prev-btn {
  left: 10px;
  background-image: url('https://icongr.am/fontawesome/angle-left.svg?size=128&color=ffffff');
}

.container-slider .next-btn {
  right: 10px;
  background-image: url('https://icongr.am/fontawesome/angle-right.svg?size=128&color=ffffff');
}

.container-slider + button {
  padding: 10px 25px;
  border-radius: 15px;
  border: 2px solid white;
  background-color: #e95ad6;
  cursor: pointer;
}