* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f4676;
}

.ifr-principal {
  width: 100%;
  height: 90vh;
  position: relative;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 90vh;
  padding: 35px;
}

.nav-bar img {
  margin: 35px auto;
  width: 100%;
}

.nav-bar .menu {
  width: 100%;
  height: 50%;
  border-radius: 25px;
  box-shadow: -2px -2px 10px 5px rgba(0, 0, 0, .3);
  border: 3px solid rgba(255, 255, 255, .5);
}

footer {
  background-color: #2f4676;
  width: 100%;
  height: 9.3vh;
  padding: 20px;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
}

footer a {
  text-decoration: none;
  color: #e95ad6;
}

footer a:hover {
  text-decoration: underline;
}

/* MENU  */

.nav-menu {
  width: 100%;
  height: 100vh;
  background-color: #843579;
}

.items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 28%;
}

.items li {
  list-style: none;
}

.items li a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
}

.items li a:hover {
  border-bottom: 2px solid white;
}

.items .icon-item {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('https://icongr.am/fontawesome/caret-right.svg?size=128&color=ffffff');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

/* HOME */

.home {
  width: 100%;
  height: 100vh;
  background-image: url('../images/home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}